<h1>Hola</h1>
<form action="/artist-search", method="GET">
    <label for="fname" >Artist's name:</label>
    <input type="text" id="fname" name="fname">
    <input type="submit" value="Submit">
</form>